%%% -*- mode: erlang -*-

{require_otp_vsn, "R16|17"}.

{pre_hooks, [{clean, "c_src/build_deps.sh clean"},
             {'get-deps', "c_src/build_deps.sh get_deps"},
             {compile, "c_src/build_deps.sh c_src/HyperLevelDB/lib/libhyperleveldb.a"}
            ]}.

{port_env, [%% CC/CXX (OmniOS, SmartOS)
            {"solaris", "CC",  "gcc"},
            {"solaris", "CXX", "g++"},

            %% DRV_CFLAGS
            {"DRV_CFLAGS", "$DRV_CFLAGS -fPIC -g -Wall -Wextra -Werror"},
            {"DRV_CFLAGS", "$DRV_CFLAGS -I c_src/HyperLevelDB/include"},

            %% DRV_LDFLAGS (GNU/Linux, OmniOS, SmartOS)
            {"(linux|solaris)", "DRV_LDFLAGS",
             "$DRV_LDFLAGS c_src/HyperLevelDB/lib/libhyperleveldb.a c_src/snappy/lib/libsnappy.a -lstdc++"},
            %% DRV_LDFLAGS (FreeBSD 10.0-RELEASE Clang)
            {"freebsd", "DRV_LDFLAGS",
             "$DRV_LDFLAGS c_src/HyperLevelDB/lib/libhyperleveldb.a c_src/snappy/lib/libsnappy.a -lc++"}
           ]}.

{port_specs, [{"priv/lib/h2leveldb_impl_drv.so",
               ["c_src/h2leveldb_impl_drv_lib.cc", "c_src/h2leveldb_impl_drv.cc"]}
             ]}.

{erl_opts, [warnings_as_errors]}.

{xref_checks, [undefined_function_calls, deprecated_function_calls]}.

{deps, [{qc, "", {git, "git://github.com/norton/qc.git"}}
       ]}.
